*{
    font-family: "Shere Tech Mono", monospace;
}
#board, .boardInfo{
    max-width: 500px;
}
#board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#start, .boardInfo{
    font-size: 45px;
}
#gameOver{
    display: none;
}
.boardInfo{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
#start{
    background-color: #8b494d;
    border: none;
    color: white;
}
#scoreBoard{
    display: inline-flex;
    background-color: #8b494d;
}
.square{
    aspect-ratio: 1;

}
.emptySquare{
    background-color: #1b0c50;
}
.snakeSqueare{
    background-color: #a75000;
}
.foodSquare{
    background-color: #5adcf3;
}